{% extends "index.html" %}{% block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<script>
    var messages = "{{messages | safe}}";
    debugger;
    if (messages.length) {
        alert(messages.slice(2, -2));
    }
</script>
{% endif %} {% endwith %}
<style>
    body {
        background-image: url("https://static.vecteezy.com/system/resources/previews/002/044/407/non_2x/time-to-pay-tax-clock-stacked-coins-and-wooden-block-on-white-background-taxation-and-annual-tax-concept-free-photo.jpg");
        background-repeat: no-repeat;
        background-size: 1500px 900px;
    }
</style>
<main>

    <div style="height: 400px; margin-top: 280px;">
        <form>
            <div class="d-flex justify-content-center py-3">
                <button class="submit-button w-25" type="submit"><a href="form" style="color: white; text-decoration: none;">Apply Your Taxes Here</a></button>
            </div>
        </form>
    </div>
    <div id="container-footer" class="mt-5">
        <div id="part1">
            <div id="companyinfo"> <a id="sitelink" href="#">TaxNotes</a>
                <p id="title">The Utlimate Tax Solution Platform</p>
                <p id="detail">We help institutions and individual meet their tax needs in most simplest possible way. </p>
            </div>
            <div id="explore">
                <p id="txt1">Explore</p>
                <a class="link" href="/aboutus">About Us</a>
                <a class="link" href="/contactus">Contact Us</a>
                <a class="link" href="/term">Our Terms</a>
            </div>
            <div id="visit">
                <p id="txt2">Visit</p>
                <p class="text">118 Citadel Drive</p>
                <p class="text">Scarborough, ON, M1K4S6</p>
                <p class="text">Toronto, CANADA</p>
            </div>

            <div id="legal">
                <p id="txt3">Conatct Info</p>
                <a class="link1" href="tel:+118005552356">18005552356</a>
                <a class="link1" href="mailto:wheelzdealz@yahoo.com">taxnotes@yahoo.com</a
        >
      </div>
    </div>
    <div id="part2" class="text-center">
      <p id="txt6">&copy; COPYRIGHT 2020 TAX NOTES - All right reserved</p>
    </div>
  </div>
</main>

{% endblock %}