<!DOCTYPE html>
<html lang="en">
  <head>
    <title>INDEX</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />
  </head>
  <body>
    <header class="tm-header">
      <div class="tm-container">
        <a href="/home"
          ><img src="{{ url_for('static',filename='Images\logo.jpg') }}" alt="logo" width="250"
        /></a>
        <nav class="tm-nav">
          <ul>
            <b>
              <li><a href="/home">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="/aboutus">About Us</a></li>
              <li><a href="/contactus">Contact Us</a></li>
              <li><a href="/team">Team</a></li>
              <li><a href="/term">Terms & conditions</a></li>
            </b>
          </ul>
        </nav>
      </div>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
