{% extends "index.html" %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    function alertUser() {
        alert("Please give us a call at +1 800-5552-356 to reset your password.")
    }

    function proceed(e) {}
</script>
<link rel="stylesheet" href="{{ url_for('static',filename='login_style.css') }}" />
<div id="banner" class="desktop">
    <img class="banner-image" src="{{ url_for('static',filename='Images/banner1.png') }}" />
</div>
<br /><br />
<h2 style="text-align: center" class="text-uppercase"><strong>Login Form</strong></h2>

<form action="/check_login" method="POST">
    <div class="form-container">
        <div class="imgcontainer">
            <img src="{{ url_for('static',filename='Images/avatar2.png') }}" alt="Avatar" class="avatar fadeIn first" />
        </div>

        <div class="form-group">
            <label for="email"><b>Email Address</b></label>
            <input class="form-control" type="email" placeholder="Enter Your Email ID" name="email" required />

            <label for="psw"><b>Password</b></label>
            <input class="form-control" type="password" placeholder="Enter Password" name="psw" required />
            <input type="checkbox" checked="checked" name="remember" /> Remember me
        </div>

        <div class="d-flex">
            <button onclick="proceed(event)" class="submit-button" type="submit">Login</button>
            <button type="button" class="cancel-button">Cancel</button>
        </div>
        <div class="d-flex justify-content-center my-3">
            <a onclick="alertUser()" class="text-primary">Forgot password?</a>
        </div>
        <div>
            <p class="py-2 text-center"> Don't have an account? <a href="register">Register Here</a>.</p>
        </div>
    </div>
</form>

<footer class="tm-footer">
    <b>&copy; COPYRIGHT 2020 TAX NOTES</b>
    <br /> Any Unauthorized reproduction or distribution of the contents of this website is a violation of
    <br /> copyright law and may result in severe civil and criminal penalties. All rights reserved.
</footer>

{% endblock %}