{% extends "index.html" %}{% block content %}
<main>
    <div style="height: 250px; margin-top: 240px;">

        <h1 class="text-center">You Logged out</h1>

    </div>
    <footer class="tm-footer">
        <b>&copy; COPYRIGHT 2020 TAX NOTES</b>
        <br /> Any Unauthorized reproduction or distribution of the contents of this website is a violation of
        <br /> copyright law and may result in severe civil and criminal penalties. All rights reserved.
    </footer>

</main>
{% endblock %}