 {% extends "index.html" %}{% block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<script>
    var messages = "{{messages | safe}}";
    debugger;
    if (messages.length) {
        alert(messages.slice(2, -2))
    }
</script>
{% endif %} {% endwith %} {% for i in profile_detail %}
<script>
    debugger;
    console.log(i);
    // document.getElementById("savedFname").value = i['firstName'];
</script>
{% endfor %}


<link rel="stylesheet" href="{{ url_for('static',filename='profile.css') }}" />

<div id="banner" class="desktop">
    <img class="banner-image" src="{{ url_for('static',filename='Images/banner3.jpg') }}" />
</div>
<br><br>
<h2 style="text-align: center" class="text-uppercase"><strong>Your Profile</strong></h2>
    <div class="form-container">
        <div class="imgcontainer">
            <img src="{{ url_for('static',filename='Images/profile.png') }}" alt="Profile" class="profile" />
        </div><br>
        <p class="text-danger d-inline">NOTE: </p>
        <h6 id="emailHelp" class="d-inline ">We'll never share your information with anyone else.</h6>

        <div class="form-group">
            <label for="savedFname"><b>First Name</b></label>
            <input class="form-control my-2 " type="text" class="form-control" name="savedFname" value = "{{ pro_detail['firstname'] }}" required/>
<form method="POST" action="/update_profile">
      <label for="savedLname"><b>Last Name</b></label>
      <input
        class="form-control my-2"
        type="text"
        class="form-control"
        name="savedLname"
        value="{{ pro_detail['lastname'] }}"
        required
      />

      <label for="savedEmail"><b>Email Address</b></label>
      <input
        class="form-control my-2"
        type="email"
        class="form-control"
        name="savedEmail"
        value = "{{ pro_detail['email'] }}"
        disabled
        required
      />

      <label for="savedNumber"><b>Phone Number</b></label>
      <input
        class="form-control my-2"
        type="text"
        class="form-control"
        name="savedNumber"
        value= "{{ pro_detail['phone'] }}"
        required
      />

      <label for="savedddress"><b>Primary Address</b></label>
      <input
        class="form-control my-2"
        type="text"
        class="form-control"
        name="savedAddress"
        value = "{{ pro_detail['address'] }}"
        required
      /><br />
    </div>

    <div class="d-flex">
      <button class="submit-button" type="submit">Update</button>
      <button type="button" class="cancel-button">Cancel</button>
      <a href="/delete_profile">Delete profile</a>
    </div>
</form>

<div id="container-footer" class="mt-5">
    <div id="part1">
        <div id="companyinfo"> <a id="sitelink" href="#">TaxNotes</a>
            <p id="title">The Utlimate Tax Solution Platform</p>
            <p id="detail">We help institutions and individual meet their tax needs in most simplest possible way. </p>
        </div>
        <div id="explore">
            <p id="txt1">Explore</p>
            <a class="link" href="/aboutus">About Us</a>
            <a class="link" href="/contactus">Contact Us</a>
            <a class="link" href="/term">Our Terms</a>
        </div>
        <div id="visit">
            <p id="txt2">Visit</p>
            <p class="text">118 Citadel Drive</p>
            <p class="text">Scarborough, ON, M1K4S6</p>
            <p class="text">Toronto, CANADA</p>
        </div>

        <div id="legal">
            <p id="txt3">Conatct Info</p>
            <a class="link1" href="tel:+118005552356">18005552356</a>
            <a class="link1" href="mailto:wheelzdealz@yahoo.com">taxnotes@yahoo.com</a>
        </div>
    </div>


    <div id="part2" class="text-center">
        <p id="txt6">&copy; COPYRIGHT 2020 TAX NOTES - All right reserved</p>
    </div>


    {% endblock %}