{% extends 'index.html' %}{% block content %}

<link rel="stylesheet" href="{{ url_for('static',filename='profile.css') }}" />

<div id="banner" class="desktop">
    <img class="banner-image" src="{{ url_for('static',filename='Images/banner3.jpg') }}" />
</div>
<hr />
<h2 style="text-align: center" class="text-uppercase"><strong>Your Profile</strong></h2>

<form>
    <div class="form-container">
        <div class="imgcontainer">
            <img src="{{ url_for('static',filename='Images/profile.png') }}" alt="Profile" class="profile" />
        </div><br>
        <p class="text-danger d-inline">NOTE: </p>
        <h6 id="emailHelp" class="d-inline ">We'll never share your information with anyone else.</h6>
        <hr>

        <div class="form-group">
            <label for="savedFname"><b>First Name</b></label>
            <input class="form-control my-2 " type="text" class="form-control" id="savedFname" required/>

            <label for="savedLname"><b>Last Name</b></label>
            <input class="form-control my-2 " type="text" class="form-control" id="savedLname" required/>

            <label for="savedEmail"><b>Email Address</b></label>
            <input class="form-control my-2 " type="email" class="form-control" id="savedEmail" required/>

            <label for="savedNumber"><b>Phone Number</b></label>
            <input class="form-control my-2 " type="text" class="form-control" id="savedNumber" required/>

            <label for="savedddress"><b>Primary Address</b></label>
            <input class="form-control my-2 " type="text" class="form-control" id="savedAddress" required/><br>
        </div>

        <div class="d-flex">
            <button class="submit-button" type="submit">Update</button>
            <button type="button" class="cancel-button">Cancel</button>
        </div>
        <br>
    </div>
</form>


<footer class="tm-footer">
    <b>&copy; COPYRIGHT 2020 TAX NOTES</b>
    <br /> Any Unauthorized reproduction or distribution of the contents of this website is a violation of
    <br /> copyright law and may result in severe civil and criminal penalties. All rights reserved.
</footer>

{% endblock %}