{% extends "index.html" %} {% block content %}
<script>
  function proceed() {
    alert("User has been registered");
    window.location.href = "/login";
  }
</script>
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='register_style.css') }}"
/>
<div id="banner" class="desktop">
  <img
    class="banner-image"
    src="{{ url_for('static',filename='Images/banner3.jpg') }}"
  />
</div>
<br /><br />
<h2 style="text-align: center" class="text-uppercase">
  <strong>Registration Form</strong>
</h2>

<form action="/make_account" method="POST">
  <div class="container">
    <p class="text-danger d-inline">NOTE:</p>
    <h6 class="d-inline">Please fill in this form to create an account.</h6>
    <hr />
    <div class="form-group">
      <label for="email"><b>Email Address</b></label>
      <input
        class="form-control my-2"
        type="email"
        placeholder="Enter Email"
        name="email"
        id="email"
        required
      />

      <label for="psw"><b>Password</b></label>
      <input
        class="form-control my-2"
        type="password"
        placeholder="Enter Password"
        name="psw"
        id="psw"
        required
      />

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input
        class="form-control my-2"
        type="password"
        placeholder="Repeat Password"
        name="psw-repeat"
        id="psw-repeat"
        required
      />
      <hr />
    </div>
    <input
      class="mx-2"
      type="checkbox"
      checked="checked"
      name="remember"
      required
    />By creating an account you agree to our
    <a href="term">Terms & Privacy</a>.

    <div class="d-flex justify-content-center py-3">
      <button onclick="proceed()" class="submit-button w-25" type="submit">
        Register
      </button>
    </div>
  </div>

  <div class="container signin">
    <p class="m-0">Already have an account? <a href="login">Sign in</a>.</p>
  </div>
</form>

<footer class="tm-footer">
  <b>&copy; COPYRIGHT 2020 TAX NOTES</b>
  <br />
  Any Unauthorized reproduction or distribution of the contents of this website
  is a violation of <br />
  copyright law and may result in severe civil and criminal penalties. All
  rights reserved.
</footer>
{% endblock %}
