{% extends "index.html" %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static',filename='tax_style.css') }}" />
<div id="banner" class="desktop" style="height: 417px;">
    <img class="banner-image" src="{{ url_for('static',filename='Images/banner4.jpg') }}" />
</div>
<br><br>
<h1 class="text-uppercase" style="text-align : center;"><strong>Tax Form</strong></h2>

    <form action="/action_page.php">
        <div class="form-container">

            <p class="text-danger d-inline">NOTE: </p>
            <h6 class="d-inline ">Please fill in this details for getting your tax amount which you have to pay.</h6>
            <hr>
            <div class="form-group ">
                <label for="firstname "><b>First Name</b>
                    <p class="text-danger d-inline ">*</p>
                </label><br>
                <input class="form-control my-2 " type="text " name="firstname " placeholder="Enter First Name " required>
                <label><b>Last Name</b>
                    <p class="text-danger d-inline ">*</p>
                </label><br>
                <input class="form-control my-2 " type="text " name="lastname " placeholder="Enter Last Name " required>

                <label for="email "><b>Email</b>
                    <p class="text-danger d-inline ">*</p>
                </label>
                <input class="form-control my-2 " type="email " placeholder="Enter Your Email " name="email " id="email " required>

                <label for="Phone "><b>Phone Number</b>
                    <p class="text-danger d-inline ">*</p>
                </label>
                <input class="form-control my-2 " type="tel " placeholder="Enter valid mobile number " name="Phone " id="Phone " required>

                <label for="address "><b>Primary Address</b>
                    <p class="text-danger d-inline ">*</p>
                </label>
                <input class="form-control my-2 " type="text " placeholder="Enter Your address " name="address " id="address " required>

                <label for="address2 "><b>Secondary Address</b></label>
                <input class="form-control " type="text " placeholder="Enter secondary address if any " name="address2 " id="address2 ">
                <label class="form-check-label mr-4 "><b>Gender</b>
                    <p class="text-danger d-inline ">*</p>
                </label>
                <div class="form-check form-check-inline ">
                    <input class="form-check-input " type="radio" name="sex" value="female" checked="checked ">
                    <label class="form-check-label " style="margin-top: 0; ">Female</label>
                </div>
                <div class="form-check form-check-inline ">
                    <input class="form-check-input " type="radio" name="sex" value="male">
                    <label class="form-check-label " style="margin-top: 0; ">Male</label>
                </div>
                <div>
                    <label for="image " class="mr-4 mb-2 d-block"><b>Upload Your Image</b></label>
                    <input type="file" accept="image/*" id="image ">
                </div>

                <label for="sin "><b>Social Insurance Number</b>
                    <p class="text-danger d-inline ">*</p>
                </label>
                <input class="form-control my-2 " placeholder="Enter your SIN number " type="number " name="sin " id="sin " required>

                <label for="NetIncome "><b>Yearly Income</b>
                    <p class="text-danger d-inline ">*</p>
                </label>
                <input class="form-control my-2 " type="number " placeholder="Enter your yearly income " name="NetIncome " id="NetIncome " required>

                <label for="ExtraIncome "><b>Additional Income From Other Sources</b></label>
                <input class="form-control my-2 " type="number " placeholder="Enter your additional income " name="ExtraIncome " id="ExtraIncome ">

                <label for="expenses "><b>Expenses During The Year</b></label>
                <input class="form-control my-2 " type="number " placeholder="Enter expeses during the year " name="expenses " id="expenses ">

                <label for="losses "><b>Losses During The Year</b></label>
                <input class="form-control my-2 " type="number " placeholder="Enter losses during the year " name="losses " id="losses ">

                <label for="rrsp "><b>RRSP(Retirement Savings Plan) Contribution</b>
                    <p class="text-danger d-inline ">*</p>
                </label>
                <input class="form-control my-2 " type="number " placeholder="Enter RRSP contribution for this year " name="rrsp " id="rrsp " required>
                <hr>

                <button class="submit-button " type="submit ">Submit Details</button>
            </div>
        </div>
    </form>

    <footer class="tm-footer ">
        <b>&copy; COPYRIGHT 2020 TAX NOTES</b>
        <br /> Any Unauthorized reproduction or distribution of the contents of this website is a violation of
        <br /> copyright law and may result in severe civil and criminal penalties. All rights reserved.
    </footer>

    {% endblock %}