{% extends "index.html" %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static',filename='term_condition.css') }}" />
<div id="banner" class="desktop">
    <img class="banner-image" src="{{ url_for('static',filename='Images/terms_banner.png') }}" />
</div>

<div class="jumbotron mx-4 my-4" style="background-color: transparent !important;">
    <h1 class="display-4">Tax Rental Agreement</h1>
    <p class="lead">Terms of service are the legal agreements between a service provider and a person who wants to use that service. </p>
    <hr class="my-4">
    <h6 class="card-subtitle mb-2 text-muted">BBC News</h6>
    <p class="card-text text-justify">Due to COVID-19, Tax Analysts will host our 50th Anniversary celebration in early 2021. During this virtual event, we will commemorate the history, growth, and achievements of Tax Analysts, and we will look towards our next 50 years. We also will
        honor Larry Gibbs – a former IRS commissioner and Tax Analysts board member, now a senior counsel at Miller & Chevalier, and a longstanding pillar of the tax community. As part of our 50th Anniversary, Tax Analysts launched Taxing Issues, a webinar
        series though which we have brought the tax community together with key policymakers to discuss leading issues of tax policy and administration. It has been incredibly well-received and will continue next year. Below are sponsorship opportunities
        for our partners to support this work and to provide a forum for the debate on tax policy.</p>
</div>

<div class="term-container">

    <div class="card bg-light ml-2 my-3" style="width: 25%">
        <div class="card-header font-weight-bold">Refund Policy</div>
        <div class="card-body">
            <p class="card-text text-justify">We will organise the refund of the maximum amount possible based on the information and documentation provided by its customers and in line with the legal entitlements and obligations of the customer within the tax law of the country from
                which the tax refund is being reclaimed.The tax authority information leads to a decision that the customer is not due a refund.The tax authority has different information on its system than that provided by the customer.</p>
        </div>
    </div>
    <div class="card bg-light my-3" style="width: 25%">
        <div class="card-header font-weight-bold">Tax Enforcement Law</div>
        <div class="card-body">
            <p class="card-text text-justify">Where there is a change in the applicable tax law in the country from which the tax refund is being reclaimed, or in the interpretation or implementation of the rules and laws by the tax authorities of that country, taxnotes will meet its
                commitment to organise the refund to the degree allowed by the law, interpretation and implementation by the tax authority in that country.The decision of the exact value of any refund due or amount owed is the decision of the relevant
                Tax Authority.</p>
        </div>
    </div>
    <div class="card bg-light my-3" style="width: 25%">
        <div class="card-header font-weight-bold">Reimbursement Policy</div>
        <div class="card-body">
            <p class="card-text text-justify">We will provide the refund as expediently as possible, subject to the provision of the necessary documents by the customers and the efficient processing of the refund application by the relevant tax office.When the customer signs a Power of
                Attorney permitting taxback.com to organise his/her refunds, he/she is agreeing to pay the fee to taxback.com for the organisation of the refund.</p>
        </div>
    </div>

    <div class="card bg-light my-3" style="width: 25%">
        <div class="card-header font-weight-bold">Inaccurate information</div>
        <div class="card-body">
            <p class="card-text text-justify">We are not responsible for the refund of tax where the customer has provided information which is false, inaccurate, incorrect, insufficient or misleading in any way or the customer has already received a refund The tax authority information
                leads to a decision that the customer is not due a refund. Where there is a possible case for appeal within the law, such measures will be taken by taxnotes, where the customer information enables it to do so.
            </p>
        </div>
    </div>

    <div class="card bg-light my-3" style="width: 25%">
        <div class="card-header font-weight-bold">Additional Document Policy</div>
        <div class="card-body">
            <p class="card-text text-justify">
                For additional value-added services provided by taxnotes to the customer, additional fees will be charged to cover associated administrative and management costs. Such additional services include, but are not limited to, document retrieval, personal number
                (e.g. SSN, PPS, NIN, TFN) verification, residency and non-residency document organisation where relevant, amendment preparation for previous returns, and certain payment options.
            </p>
        </div>
    </div>

    <div class="card bg-light my-3" style="width: 25%">
        <div class="card-header font-weight-bold">Post Registration Policy</div>
        <div class="card-body">
            <p class="card-text text-justify">If, after registering for tax number services with taxnotes you wish to withdraw your application and the application has not been submitted to the relevant authorities, an administration fee applies and all processing charges of banks for
                returning the rest of the payment should be at the expense of the customer. In cases where taxnotes already submitted the application on the customer's behalf, the application fee is non-refundable.I understand that I will be contacted
                by taxnotes after using any of the online tax calculator(s).</p>
        </div>
    </div>


</div>
</div>

<div id="container-footer" class="mt-5">
    <div id="part1">
        <div id="companyinfo"> <a id="sitelink" href="#">TaxNotes</a>
            <p id="title">The Utlimate Tax Solution Platform</p>
            <p id="detail">We help institutions and individual meet their tax needs in most simplest possible way. </p>
        </div>
        <div id="explore">
            <p id="txt1">Explore</p>
            <a class="link" href="/aboutus">About Us</a>
            <a class="link" href="/contactus">Conatct Us</a>
            <a class="link-terms" href="/term">Terms & Conditions</a>
        </div>
        <div id="visit">
            <p id="txt2">Visit</p>
            <p class="text">118 Citadel Drive</p>
            <p class="text">Scarborough, ON, M1K4S6</p>
            <p class="text">Toronto, CANADA</p>
        </div>

        <div id="legal">
            <p id="txt3">Conatct Info</p>
            <a class="link1" href="tel:+118005552356">18005552356</a>
            <a class="link1" href="mailto:wheelzdealz@yahoo.com">taxnotes@yahoo.com</a>
        </div>
    </div>
    <div id="part2" class="text-center">
        <p id="txt6">&copy; COPYRIGHT 2020 TAX NOTES - All right reserved</p>
    </div>
</div>




{% endblock %}